@import '../allColor.scss';

.main{
    background: $mainBG;
    height: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
    padding: 30px 15px;


    &-form {
        position: relative;
        background: $white;
        width: 100%;
        max-width: 1300px;
        min-height: 80px;
        height: 100%;
        border: 1px solid $border;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width:"1300px") {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        @media screen and (max-width:"690px") { 
            flex-direction: column;
        }

        &-dropDown {
            display: flex;
            justify-content: space-around;

            @media screen and (max-width:"1070px") { 
                order: 2;
            }

            @media screen and (max-width:"690px") { 
                order: 1;
                flex-direction: column;
                justify-content: center;
            }

        }

        &-inputs {
            display: flex;
            justify-content: space-around;

            @media screen and (max-width:"1070px") { 
                order: 1;
            }

            @media screen and (max-width:"690px") { 
                order: 2;
                flex-direction: column;
                justify-content: center;
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:"1300px") { 
                margin-left: auto;
            }

            @media screen and (max-width:"1070px") { 
                order: 3;
            }

            @media screen and (max-width:"690px") { 
                margin: 0;
                width: 218px;
            }
        }
        

        &-input {
            padding: 0 10px;
            border: 1px solid $border;
            border-radius: 5px;
            height: 40px;
            font-size: 16px;
            color: $text;
            margin: 15px 10px;

            &:focus {
                outline: none;
                border-color: $border-focus;
            }
        }
    }
}